<div class="checkin">

    <table width="1000" height="448" border="1">
        <tr>
            <td height="40" colspan="10" align="center" class="h2" id="type">房间预定表</td>
        </tr>
        <tr align="left">
            <td width="150" height="40" align="left" class="attrName"> <label for="sfz">身份证号:</label></td>
            <td height="40" colspan="2" align="left"><input type="text" name="number" placeholder="请刷卡或输入" id="sfz" value="{{currentUser.number}}"></td>
            <td width="150" height="40" align="left" class="attrName"><label for="name">姓名：</label></td>
            <td width="150" height="40" align="left"><input type="text" id="name" value="{{currentUser.name}}"></td>
            <td width="150" height="40" align="left" class="attrName">性别：</td>
            <td width="80" height="40" align="left"><label for="man">男</label></td>
            <td width="80" height="40" align="left"><input type="radio" value="man" name="sex" id="man" checked ng-checked="currentUser.sex == '男'"></td>
            <td width="80" height="40" align="left"><label for="woman" >女</label></td>
            <td width="80" height="40" align="left"><input type="radio" value="woman" id="woman" name="sex" ng-checked="currentUser.sex == '女'"></td>
        </tr>

        <tr>
            <td height="40" align="left" class="attrName">入住日期:</td>
            <td height="40" colspan="2" align="left"><input type="date" name="inTime" id="intime"></td>
            <td height="40" align="left" class="attrName" >退房日期:</td>
            <td height="40" colspan="2" align="left" ><input type="date" name="outTime" id="outtime" ng-blur="getDays()"></td>
            <td height="40" colspan="2" align="left" class="attrName">入住天数:</td>
            <td height="40" colspan="2" align="left"><input type="text" value="{{days}}" disabled></td>
        </tr>
        <tr>
            <td height="40" align="left"><label for="population" class="attrName">入住人数：</label></td>
            <td width="150" height="40" align="left">
                <input type="number" value="1" id="population">
            </td>
            <td width="150" height="40" align="left" class="attrName">房间类型:</td>
            <td height="40" align="left"> <select name="roomType" id="roomType" ng-model="value" ng-change="getRoom()">
                <option value="普通单间">普通单间</option>
                <option value="普通双间">普通双间</option>
                <option value="豪华单间">豪华单间</option>
                <option value="豪华双间">豪华双间</option>
                <option value="贵宾套房">贵宾套房</option>
                <option value="总统套房">总统套房</option>

            </select></td>
            <td height="40" align="left" class="attrName">房间价格:</td>
            <td height="40" align="left">
                <input type="text" disabled value="{{priceString}}">
            </td>
            <td height="40" colspan="2" align="left" class="attrName">房间号:</td>
            <td height="40" colspan="2" align="left"><select name="roomNum" id="roomNum" >
                <option ng-repeat="x in enableRoomNum" value="{{x}}" >{{x}}</option>

            </select></td>
        </tr>
        <tr>
            <td height="40" align="left" class="attrName">价格合计:</td>
            <td height="40" colspan="2" align="left"><input type="text" name="totalMonney" value="{{money}}"  disabled></td>
            <td height="40" align="left" class="attrName">需缴押金:</td>
            <td height="40" colspan="2" align="left"><input type="text" name="yajing" value="{{deposit}}" disabled></td>
            <td height="40" colspan="2" align="left" class="attrName">填表人：</td>
            <td height="40" colspan="2" align="left"><input type="text" value="周星星" disabled></td>
        </tr>
    </table>
    <input type="submit" value="预定" id="submit" class="btn btn-success" ng-click="commit()">
</div>