<div class="checkin">

    <table width="1000" height="448" border="1">
        <tr>
            <td height="40" colspan="10" align="center" class="h2">退房登记</td>
        </tr>
        <tr align="left">
            <td width="150" height="40" align="left" class="attrName"> <label for="sfz">身份证号:</label></td>
            <td height="40" colspan="2" align="left"><input type="text" name="number" placeholder="请刷卡或输入" id="sfz" value="{{currentUser.number}}"></td>
            <td width="150" height="40" align="left" class="attrName"><label for="name">姓名：</label></td>
            <td width="150" height="40" align="left"><input type="text" id="name" value="{{currentUser.name}}"></td>
            <td width="150" height="40" align="left" class="attrName">性别：</td>
            <td width="80" height="40" align="left"><label for="man">男</label></td>
            <td width="80" height="40" align="left"><input type="radio" value="man" name="sex" id="man" checked ng-checked="currentUser.sex == '男'"></td>
            <td width="80" height="40" align="left"><label for="woman" >女</label></td>
            <td width="80" height="40" align="left"><input type="radio" value="woman" id="woman" name="sex" ng-checked="currentUser.sex == '女'"></td>
        </tr>
        <tr>
            <td height="40" align="left"><label for="oldRoomNum" class="attrName">房间号：</label></td>
            <td width="150" height="40" align="left">
                <input type="text" value="{{oldRoomNum}}" id="oldRoomNum" disabled >
            </td>
            <td width="150" height="40" align="left" class="attrName">房间类型:</td>
            <td height="40" align="left"><input type="text" name="roomType" disabled value="{{myType}}"></td>
            <td height="40" align="left" class="attrName">房间价格:</td>
            <td height="40" align="left">
                <input type="text" disabled value="{{myPrice}}">

            </td>
            <td height="40" colspan="2" align="left" class="attrName" >入住人数:</td>
            <td height="40" colspan="2" align="left"><input type="number" id="population" value="{{population}}" disabled></td>
        </tr>
        <tr>
            <td height="40" align="left" class="attrName">入住日期:</td>
            <td height="40" colspan="2" align="left"><input type="date" name="inTime" id="intime" disabled value="2018-1-1"></td>
            <td height="40" align="left" class="attrName" >退房日期:</td>
            <td height="40" colspan="2" align="left" ><input type="date" name="outTime" id="outtime"  disabled></td>
            <td height="40" colspan="2" align="left" class="attrName">入住天数:</td>
            <td height="40" colspan="2" align="left"><input type="text" value="{{days}}" disabled></td>
        </tr>
        <tr>
            <td height="40" align="left" class="attrName">价格合计:</td>
            <td height="40" colspan="2" align="left"><input type="text" name="totalMonney" value="{{oldDeposit/1.5}}元"  disabled style="color:red"></td>
            <td height="40" align="left" class="attrName">押金归还:</td>
            <td height="40" colspan="2" align="left"><input type="text" name="yajing" value="{{oldDeposit/3}}元" disabled style="color:red"></td>
            <td height="40" colspan="2" align="left" class="attrName">填表人：</td>
            <td height="40" colspan="2" align="left"><input type="text" value="黄吉奥" disabled></td>
        </tr>
    </table>
    <input type="button" value="退房" id="submit" class="btn btn-success" ng-click="tuifang()">
</div>