<div class="col-sm-3 col-md-2 sidebar" ng-controller="leftBar">
    <div class="part">
        <span class="title currentTitle" ui-sref="index">首页</span>
    </div>
    <div class="part" data_target="checkIn">
        <span class="title" ng-click="showItems('checkIn',160)" >入住管理<i>+</i></span>
        <ul class="nav nav-sidebar" id="checkIn">
            <li class="item"><a  ui-sref="index.dengjiruzhu">入住登记 <span class="sr-only">(current)</span></a></li>
            <li class="item"><a ui-sref="index.fangjianyuding" >房间预定</a></li>
            <li class="item"><a ui-sref="index.huanfang" >换房</a></li>
            <li class="item"><a ui-sref="index.tuifang" >退房</a></li>
        </ul>
    </div>
    <div class="part">
        <span class="title" id="order" ui-sref="index.fangjianguanli">房间管理</span>
    </div>
    <div class="part">
        <span class="title"  ng-click="showItems('staff',120)">员工管理<i>+</i></span>
        <ul class="nav nav-sidebar" id="staff">
            <li class="item"><a ui-sref="index.yuangongxinxi" >员工信息</a></li>
            <li class="item"><a ui-sref="index.yuangongkaoqing" >员工考勤</a></li>
            <li class="item"><a ui-sref="index.gongzijiesuan" >工资结算</a></li>
        </ul>
    </div>
    <div class="part" >
        <span class="title" ng-click="showItems('analyse',120)">经营分析<i>+</i></span>
        <ul class="nav nav-sidebar" id="analyse">
            <li class="item"><a ui-sref="index.jingrishouru" class="item">今日收入</a></li>
            <li class="item"><a ui-sref="index.benyueshouru" class="item">本月收入</a></li>
            <li class="item"><a ui-sref="index.bennianshouru" class="item">本年收入</a></li>
        </ul>
    </div>
</div>