<div class="room col-lg-8">
    <div class="state">
        <ul>
            <li><span></span>
                <p>已预定</p></li>
            <li><span></span>
                <p>已入住</p></li>
            <li><span></span>
                <p>未入住</p></li>
            <li><span></span>
                <p>维修中</p></li>
        </ul>
    </div>
    <div class="allroom clearfix">
        <div class="rooms">
            <span class="roomType">普通单间</span>
            <ul>
                <li ng-repeat="x in roomInfo" ng-if="x.roomType == '普通单间'" ng-class="x.state">{{x.roomNum}}</li>
            </ul>
        </div>

        <div class="rooms">
            <span class="roomType">豪华单间</span>
            <ul>
                <li ng-repeat="x in roomInfo" ng-if="x.roomType == '豪华单间'" ng-class="x.state">{{x.roomNum}}</li>
            </ul>
        </div>
        <div class="rooms">
            <span class="roomType">普通双间</span>
            <ul>
                <li ng-repeat="x in roomInfo" ng-if="x.roomType == '普通双间'" ng-class="x.state">{{x.roomNum}}</li>
            </ul>
        </div>
        <div class="rooms">
            <span class="roomType">豪华双间</span>
            <ul>
                <li ng-repeat="x in roomInfo" ng-if="x.roomType == '豪华双间'" ng-class="x.state">{{x.roomNum}}</li>

            </ul>
        </div>
        <div class="rooms">
            <span class="roomType">贵宾套房</span>
            <ul>
                <li ng-repeat="x in roomInfo" ng-class="x.state" ng-if="x.roomType == '贵宾套房'">{{x.roomNum}}</li>

            </ul>
        </div>
        <div class="rooms">
            <span class="roomType">总统套房</span>
            <ul>
                <li ng-repeat="x in roomInfo"  ng-class="x.state" ng-if="x.roomType == '总统套房'">{{x.roomNum}}</li>

            </ul>
        </div>
    </div>
</div>
<div class="info col-lg-4">
    <div class="systemInfo">
        <h1>系统提示</h1>
        <div class="infocontent">
            <p>①:李尔康未结账就跑了</p>
            <p>②:李尔康未结账就跑了</p>
            <p>③:李尔康未结账就跑了</p>
            <p>④:李尔康未结账就跑了</p>
        </div>
    </div>
    <div class="currentTime">{{time}}</div>
</div>