<div class="room col-lg-8">
 <!--  <div id="roomInfo">
       <div class="sanjiao"></div>
       <table border="1" >
           <tr>
               <td height="36" colspan="2" align="center"><strong>入住信息</strong></td>
           </tr>
           <tr>
               <td width="76" height="36" align="center"> 入住时间：</td>
               <td width="112" height="36" align="center">2018-05-22</td>
           </tr>
           <tr>
               <td width="76" height="36" align="center">退房时间：</td>
               <td width="112" height="36" align="center">2018-05-22</td>
           </tr>
           <tr>
               <td height="36" colspan="2" align="center"><strong>预定信息</strong></td>
           </tr>
           <tr>
               <td width="76" height="36" align="center">入住日期：</td>
               <td width="112" height="36" align="center">2018-05-22</td>
           </tr>
           <tr>
               <td width="76" height="36" align="center">退订日期：</td>
               <td width="112" height="36" align="center">2018-05-22</td>
           </tr>
       </table>
   </div>-->
    <div class="state">
        <ul>
            <li><span></span>
                <p>已预定</p></li>
            <li><span></span>
                <p>已入住</p></li>
            <li><span></span>
                <p>未入住</p></li>
            <li><span></span>
                <p>维修中</p></li>
        </ul>
    </div>
    <div class="allroom clearfix">
        <div class="rooms">
            <span class="roomType">普通单间</span>
            <ul>
                <li ng-repeat="x in roomInfo" ng-if="x.roomType == '普通单间'"  id="{{x.roomNum}}">{{x.roomNum}}</li>
            </ul>
        </div>
        <div class="rooms">
            <span class="roomType">普通双间</span>
            <ul>
                <li ng-repeat="x in roomInfo" ng-if="x.roomType == '普通双间'" id="{{x.roomNum}}" >{{x.roomNum}}</li>
            </ul>
        </div>
        <div class="rooms">
            <span class="roomType">豪华单间</span>
            <ul>
                <li ng-repeat="x in roomInfo" ng-if="x.roomType == '豪华单间'"  id="{{x.roomNum}}">{{x.roomNum}} </li>
            </ul>
        </div>

        <div class="rooms">
            <span class="roomType">豪华双间</span>
            <ul>
                <li ng-repeat="x in roomInfo" ng-if="x.roomType == '豪华双间'" ng-class="x.state" id="{{x.roomNum}}">{{x.roomNum}}</li>

            </ul>
        </div>
        <div class="rooms">
            <span class="roomType">贵宾套房</span>
            <ul>
                <li ng-repeat="x in roomInfo" ng-class="x.state" ng-if="x.roomType == '贵宾套房'" id="{{x.roomNum}}">{{x.roomNum}}</li>

            </ul>
        </div>
        <div class="rooms">
            <span class="roomType">总统套房</span>
            <ul>
                <li ng-repeat="x in roomInfo"  ng-class="x.state" ng-if="x.roomType == '总统套房'" id="{{x.roomNum}}">{{x.roomNum}}</li>

            </ul>
        </div>
    </div>
</div>
<div class="info col-lg-4">
    <div class="systemInfo">
        <h1>系统提示</h1>
        <div class="infocontent">
            <p ng-repeat="x in info">{{x}}</p>
        </div>
    </div>
    <div class="currentTime">{{time}}</div>
</div>