<table width="1035" border="1">
    <tr>
        <td height="50" colspan="9" align="center"><strong>员工信息表</strong></td>
    </tr>
    <tr>
        <td width="123" height="30" align="center" bgcolor="#999999">员工编号</td>
        <td width="123" align="center" bgcolor="#999999">姓名</td>
        <td width="123" align="center" bgcolor="#999999">性别</td>
        <td width="123" align="center" bgcolor="#999999">年龄</td>
        <td width="123" align="center" bgcolor="#999999">职务</td>
        <td width="123" align="center" bgcolor="#999999">工资</td>
        <td width="123" align="center" bgcolor="#999999">联系电话</td>
        <td colspan="2" align="center" bgcolor="#999999">操作</td>
    </tr>
    <tr>
        <td height="30" align="center">输入员工编号</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td width="58" align="center">筛选</td>
        <td width="58" align="center">增加</td>
    </tr>
    <tr>
        <td height="30" align="center">z0002</td>
        <td align="center">地方</td>
        <td align="center">男</td>
        <td align="center">12</td>
        <td align="center">系统管理员</td>
        <td align="center">100000元/月</td>
        <td align="center">12345</td>
        <td align="center">修改</td>
        <td align="center">删除</td>
    </tr>
    <tr>
        <td height="30" align="center">z0003</td>
        <td align="center">发送</td>
        <td align="center">男</td>
        <td align="center">12</td>
        <td align="center">总经理</td>
        <td align="center">100000元/月</td>
        <td align="center">12345</td>
        <td align="center">修改</td>
        <td align="center">删除</td>
    </tr>
    <tr>
        <td height="30" align="center">z0004</td>
        <td align="center">功耗发热</td>
        <td align="center">男</td>
        <td align="center">12</td>
        <td align="center">主管</td>
        <td align="center">100000元/月</td>
        <td align="center">12345</td>
        <td align="center">修改</td>
        <td align="center">删除</td>
    </tr>
    <tr>
        <td height="30" align="center">z0005</td>
        <td align="center">阿三发射点</td>
        <td align="center">男</td>
        <td align="center">12</td>
        <td align="center">服务员</td>
        <td align="center">100000元/月</td>
        <td align="center">12345</td>
        <td align="center">修改</td>
        <td align="center">删除</td>
    </tr>
    <tr>
        <td height="30" align="center">z0006</td>
        <td align="center">啊师傅</td>
        <td align="center">男</td>
        <td align="center">345</td>
        <td align="center">服务员</td>
        <td align="center">100000元/月</td>
        <td align="center">12345</td>
        <td align="center">修改</td>
        <td align="center">删除</td>
    </tr>
    <tr>
        <td height="30" align="center">z0007</td>
        <td align="center">就 </td>
        <td align="center">男</td>
        <td align="center">43</td>
        <td align="center">服务员</td>
        <td align="center">100000元/月</td>
        <td align="center">12345</td>
        <td align="center">修改</td>
        <td align="center">删除</td>
    </tr>
    <tr>
        <td height="30" align="center">z0008</td>
        <td align="center">腐干</td>
        <td align="center">男</td>
        <td align="center">32</td>
        <td align="center">服务员</td>
        <td align="center">100000元/月</td>
        <td align="center">12345</td>
        <td align="center">修改</td>
        <td align="center">删除</td>
    </tr>
    <tr>
        <td height="30" align="center">z0009</td>
        <td align="center">爹给</td>
        <td align="center">男</td>
        <td align="center">324</td>
        <td align="center">服务员</td>
        <td align="center">100000元/月</td>
        <td align="center">12345</td>
        <td align="center">修改</td>
        <td align="center">删除</td>
    </tr>
</table>