<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <style>
        *{
            margin : 0;
            padding: 0;
        }
        table{
            border-collapse:collapse;

        }
    </style>
</head>
<body>
<table border="1"  ng-click="method1('myTb')" >
    <tr>
        <td height="50" colspan="8" align="center"><strong>2018年4月员工工资表</strong></td>
        <td align="center"  ng-click="method1('myTb')" style="cursor:pointer;" class="caozuo">生成表格</td>
    </tr>
    <tr style="color:white">
        <td width="100" height="30" align="center" bgcolor="#00aa68">员工编号</td>
        <td width="100" align="center" bgcolor="#00aa68">姓名</td>
        <td width="100" align="center" bgcolor="#00aa68">职务</td>
        <td width="100" align="center" bgcolor="#00aa68">基本工资</td>
        <td width="100" align="center" bgcolor="#00aa68">迟到</td>
        <td width="100" align="center" bgcolor="#00aa68">未到</td>
        <td width="100" align="center" bgcolor="#00aa68">早退</td>
        <td width="100" align="center" bgcolor="#00aa68">加班</td>
        <td width="100" align="center" bgcolor="#00aa68">合计工资</td>
    </tr>
    <tr ng-repeat="x in employeeInfo3">
        <td height="30" align="center">{{x.number}}</td>
        <td align="center">{{x.name}}</td>
        <td align="center">{{x.job}}</td>
        <td align="center">{{x.wage}}元/月</td>
        <td align="center">{{x.chidao}}次</td>
        <td align="center">{{x.weidao}}次</td>
        <td align="center">{{x.zaotui}}次</td>
        <td align="center">{{x.jiaban}}次</td>
        <td align="center">{{(x.wage -x.chidao*x.wage/30*0.1- x.weidao*x.wage/30-x.zaotui*x.wage/30*0.1+x.jiaban*x.wage/30*0.2)|number:0}}元</td>
    </tr>
</table>



<table border="1" id="myTb" ng-click="method1('myTb')" style="display: none">
    <tr>
        <td height="50" colspan="9" align="center"><strong>2018年4月员工工资表</strong></td>
    </tr>
    <tr style="color:white">
        <td width="100" height="30" align="center" bgcolor="#00aa68">员工编号</td>
        <td width="100" align="center" bgcolor="#00aa68">姓名</td>
        <td width="100" align="center" bgcolor="#00aa68">职务</td>
        <td width="100" align="center" bgcolor="#00aa68">基本工资</td>
        <td width="100" align="center" bgcolor="#00aa68">迟到</td>
        <td width="100" align="center" bgcolor="#00aa68">未到</td>
        <td width="100" align="center" bgcolor="#00aa68">早退</td>
        <td width="100" align="center" bgcolor="#00aa68">加班</td>
        <td width="100" align="center" bgcolor="#00aa68">合计工资</td>
    </tr>
    <tr ng-repeat="x in employeeInfo3">
        <td height="30" align="center">{{x.number}}</td>
        <td align="center">{{x.name}}</td>
        <td align="center">{{x.job}}</td>
        <td align="center">{{x.wage}}元/月</td>
        <td align="center">{{x.chidao}}次</td>
        <td align="center">{{x.weidao}}次</td>
        <td align="center">{{x.zaotui}}次</td>
        <td align="center">{{x.jiaban}}次</td>
        <td align="center">{{(x.wage -x.chidao*x.wage/30*0.1+ x.weidao*x.wage/30+x.zaotui*x.wage/30*0.1+x.jiaban*x.wage/30*0.2)|number:0}}元</td>
    </tr>
</table>
</body>
</html>
