<div class="box3">
    <table border="1">
        <tr>
            <td height="50" colspan="8" align="center"><strong>{{date}}员工考勤表</strong></td>
            <td height="50" align="center" id="submit" class="caozuo" ng-click="submit()">提交</td>
        </tr>
        <tr class="title4">
            <td width="100" height="30" align="center" bgcolor="#00aa68">员工编号</td>
            <td width="100" align="center" bgcolor="#00aa68">姓名</td>
            <td width="100" align="center" bgcolor="#00aa68">职务</td>
            <td width="100" align="center" bgcolor="#00aa68">联系电话</td>
            <td width="100" align="center" bgcolor="#00aa68">正常</td>
            <td width="100" align="center" bgcolor="#00aa68">迟到</td>
            <td width="100" align="center" bgcolor="#00aa68">未到</td>
            <td width="100" align="center" bgcolor="#00aa68">早退</td>
            <td width="100" align="center" bgcolor="#00aa68">加班</td>
        </tr>
        <tr class="inputInfo">
            <td height="30" align="center"><input type="text" placeholder="输入员工编号" id="kqNumber"></td>
            <td align="center"><input type="text" placeholder="输入员工姓名" id="kqName"></td>
            <td align="center" id="search2" ng-click="kqSearch()">查找</td>
            <td align="center">&nbsp;</td>
            <td align="center" class="caozuo" id="zhengchang">全选</td>
            <td align="center" class="caozuo" id="chidao">全选</td>
            <td align="center" class="caozuo" id="weidao">全选</td>
            <td align="center" class="caozuo" id="zaotui">全选</td>
            <td align="center" class="caozuo" id="jiaban" >全选</td>
        </tr>
        <tr ng-repeat="x in employeeInfo2" class="kqContent {{x.number}}">
            <td height="30" align="center">{{x.number}}</td>
            <td align="center">{{x.name}}</td>
            <td align="center">{{x.job}}</td>
            <td align="center">{{x.phonenum}}</td>
            <td align="center" class="choose one selected zhengchang"><span class="glyphicon glyphicon-ok "></span></td>
            <td align="center" class="choose one chidao"><span class="glyphicon glyphicon-ok "></span></td>
            <td align="center" class="choose one weidao"><span class="glyphicon glyphicon-ok "></span></td>
            <td align="center" class="choose two zaotui"><span class="glyphicon glyphicon-ok "></span></td>
            <td align="center" class="choose two jiaban"><span class="glyphicon glyphicon-ok "></span></td>
        </tr>

    </table>
</div>