/*.container-fluid{
  width: 1170px !important;
}*/
/*
顶部导航条
*/
#readCard {
  height: 30px;
  text-align: center;
}
#readCard option {
  text-align: center;
}
/*
左侧导航条
*/
.part {
  width: 100%;
}
.part .nav-sidebar {
  height: 0;
  overflow: hidden;
  transition: all .3s;
}
.part .title {
  display: block;
  position: relative;
  padding-left: 8px;
  font-size: 16px;
  color: white;
  line-height: 40px;
  margin-right: -21px;
  margin-left: -20px;
  background-color: #606060;
  border-top: 1px solid gray;
  cursor: pointer;
}
.part .title i {
  position: absolute;
  right: 10px;
}
.part .currentTitle {
  background-color: #a9a5a5 !important;
}
.room {
  height: 500px;
  border: 3px solid gray;
  border-radius: 10px;
}
.room .state {
  height: 40px;
}
.room .state ul {
  list-style: none;
}
.room .state ul li {
  float: left;
  margin-right: 15px;
}
.room .state ul li span {
  display: inline-block;
  width: 10px;
  height: 10px;
}
.room .state ul li p {
  display: inline-block;
  padding-left: 5px;
}
.room .state ul li:nth-child(1) span {
  background-color: #426ab3;
}
.room .state ul li:nth-child(2) span {
  background-color: #ffd400;
}
.room .state ul li:nth-child(3) span {
  background-color: green;
}
.room .state ul li:nth-child(4) span {
  background-color: gray;
}
.allroom {
  overflow: hidden;
}
.allroom .rooms {
  overflow: hidden;
  margin-bottom: 5px;
}
.allroom .rooms .roomType {
  float: left;
  width: 60px;
  height: 60px;
  background-color: purple;
  border-radius: 8px;
  font-size: 22px;
  text-align: center;
  color: white;
}
.allroom .rooms ul {
  height: 70px;
  list-style: none;
  overflow-y: auto;
  margin-bottom: 0px;
}
.allroom .rooms ul li {
  float: left;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-right: 15px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}
.allroom .rooms ul .free {
  background-color: #419641;
}
.allroom .rooms ul .ordered {
  background-color: #426ab3;
}
.allroom .rooms ul .occupied {
  background-color: #ffd400;
}
.allroom .rooms ul .repair {
  background-color: gray;
}
.info {
  height: 500px;
}
.info .systemInfo {
  height: 300px;
  border: 3px solid gray;
  border-radius: 8px;
  margin-bottom: 30px;
  background-color: #e0e0e0;
}
.info .systemInfo h1 {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}
.info .systemInfo .infocontent p {
  line-height: 40px;
  padding-left: 30px;
  text-align: left;
}
.info .currentTime {
  height: 170px;
  border: 3px solid gray;
  padding: 20px;
  border-radius: 8px;
  line-height: 60px;
  font-size: 32px;
  text-align: center;
}
.checkin {
  height: 500px;
  padding-top: 8px;
  border: 3px solid gray;
  border-radius: 10px;
}
.checkin table {
  margin: 0 auto;
}
.checkin table .attrName {
  font-weight: bold;
}
.checkin table td {
  padding-left: 5px;
}
.checkin table td label {
  line-height: 50px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.checkin table td input,
.checkin table td select {
  display: block;
  width: 100%;
  margin-left: -2px;
}
.checkin input#submit {
  display: block;
  margin: 2px auto;
}
.mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.mask2 {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.outerbox h1,
.outerbox p {
  width: 100%;
  text-align: center;
  color: white;
}
.outerbox p {
  font-size: 18px;
}
.outerbox .innerBox {
  margin: 0 auto;
  width: 300px;
  height: 250px;
  background-color: #fff;
  padding: 0 50px;
  border: 5px solid #5942df;
  border-radius: 5px;
}
.outerbox .innerBox h2 {
  color: #218FDE;
  font-size: 20px;
  line-height: 30px;
}
.outerbox .innerBox .login {
  display: block;
  width: 100%;
  background-color: #00AA68;
  color: white;
}
.outerbox .innerBox .tishi {
  display: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: red;
  text-align: center;
}
.leave {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -125px;
  z-index: 99999;
  width: 300px;
  height: 250px;
}
.leave .innerBox {
  height: 200px;
}
.changePass {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -125px;
  z-index: 99999;
  width: 300px;
  height: 250px;
}
.changePass .innerBox {
  height: 250px;
}
.changePass .close {
  position: absolute;
  line-height: 14px !important;
  top: 12px;
  right: 10px;
  color: #ff0000;
  opacity: 0.8;
  transition: all .5s;
}
.changePass .close:hover {
  opacity: 1;
  transform: rotateZ(180deg);
}
/*
读身份证显示界面
*/
.cardInfo {
  display: none;
  position: fixed;
  width: 752px;
  height: 302px;
  left: 50%;
  top: 50%;
  margin-left: -377px;
  margin-top: -151px;
  background-color: #f8f8f8;
  z-index: 99999999;
}
.cardInfo img {
  width: 150px;
  height: 200px;
}
.cardInfo .attr {
  color: #5942df;
  border-color: black;
}
.cardInfo .close2 {
  position: absolute;
  cursor: pointer;
  top: 12px;
  right: 10px;
  color: red;
  opacity: 0.8;
  transition: all .5s;
  line-height: 1;
}
.cardInfo .close2:hover {
  opacity: 1;
  transform: rotateZ(180deg);
}
.cardInfo .write {
  display: inline-block;
  margin: 0 auto;
  width: 60px;
  height: 30px;
}
