* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 1000px;
  background: url("/images/sec_bg.jpg") no-repeat center top fixed;
}
.header {
  width: 100%;
  min-width: 1200px;
  height: 80px;
  background-color: #ece2db;
}
.header h1 {
  float: left;
  font-weight: normal;
  line-height: 80px;
  margin-left: 50px;
  color: #333333;
}
.header .detail {
  float: left;
}
.header .detail span {
  float: left;
  font-size: 16px;
  color: #333333;
  line-height: 80px;
  padding-left: 180px;
}
.slider {
  text-align: center;
  padding-bottom: 10px;
}
.slider img {
  width: 100%;
}
.roomList {
  width: 1100px;
  margin: 0 auto 50px auto;
}
.roomList .item {
  width: 100%;
  height: 410px;
  background-color: #fff9f5;
}
.roomList .item .left {
  float: left;
  padding: 20px;
  width: 450px;
  height: 370px;
}
.roomList .item .left img {
  width: 450px;
  height: 300px;
}
.roomList .item .right {
  float: left;
  position: relative;
  width: 600px;
  height: 336px;
  padding-top: 20px;
}
.roomList .item .right h2 {
  font-size: 26px;
  color: #945C66;
  margin-bottom: 30px;
}
.roomList .item .right .price {
  font-size: 20px;
  color: #945C66;
  margin-bottom: 30px;
}
.roomList .item .right .price span {
  color: #F55;
  font-size: 30px;
}
.roomList .item .right h3 {
  font-size: 26px;
  color: #945C66;
  margin-bottom: 30px;
}
.roomList .item .right .roomInfo {
  color: #945C66;
}
.roomList .item .right .yuDing {
  position: absolute;
  bottom: 30px;
  left: 230px;
  width: 90px;
  height: 36px;
  border-radius: 5px;
  background-color: #945C66;
  color: white;
}
