<div id="box">
    <table width="1000" border="1" >
        <tr>
            <td height="40" colspan="8" align="center"><strong>房价设置</strong></td>
        </tr>
        <tr bgcolor="#00aa68" class="title2">
            <td width="125" height="40" align="center">房间类型</td>
            <td width="125" height="40" align="center">普通单间</td>
            <td width="125" height="40" align="center">普通双间</td>
            <td width="125" height="40" align="center">豪华单间</td>
            <td width="125" height="40" align="center">豪华双间</td>
            <td width="125" height="40" align="center">贵宾套房</td>
            <td width="125" height="40" align="center">总统套房</td>
            <td width="125" height="40" align="center">操作</td>
        </tr>
        <tr id="roomPrice">
            <td height="40" align="center">房间价格</td>
            <td height="40" align="center"><input type="text" value="{{price1}}">元/天</td>
            <td height="40" align="center"><input type="text" value="{{price2}}">元/天</td>
            <td height="40" align="center"><input type="text" value="{{price3}}">元/天</td>
            <td height="40" align="center"><input type="text" value="{{price4}}">元/天</td>
            <td height="40" align="center"><input type="text" value="{{price5}}">元/天</td>
            <td height="40" align="center"><input type="text" value="{{price6}}">元/天</td>
            <td height="40" align="center" class="caozuo" ng-click="updatePrcie()">更新</td>
        </tr>
    </table>
    <table width="1000" border="1" id="roomManage">
        <tr bgcolor="#FFFFFF">
            <td height="40" colspan="6" align="center"><strong>房间管理</strong></td>
        </tr>
        <tr class="title2">
            <td width="200" height="40" align="center" >房间号</td>
            <td width="200" height="40" align="center" >房间类型</td>
            <td width="200" height="40" align="center" >房间价格</td>
            <td width="200" height="40" align="center" >房间状态</td>
            <td height="40" colspan="2" align="center" >操作</td>
        </tr>
        <tr id="search" >
            <td height="40" align="center"><input type="text"  placeholder="在此输入房间号" id="roomNum"><span class="glyphicon glyphicon-ok used"></span></td>
            <td height="40" align="center"><select name="roomType" id="roomType">
                <option value="所有类型">所有类型</option>
                <option value="普通单间">普通单间</option>
                <option value="普通双间">普通双间</option>
                <option value="豪华单间">豪华单间</option>
                <option value="豪华双间">豪华双间</option>
                <option value="贵宾套房">贵宾套房</option>
                <option value="总统套房">总统套房</option>
            </select><span class="glyphicon glyphicon-ok used"></span></td>
            <td height="40" align="center"><input type="text" value="" id="price">元/天<span class="glyphicon glyphicon-ok used"></span></td>
            <td height="40" align="center">正常<input type="radio" name="1" id="normal" checked>维修中<input
                    type="radio" name="1" value="1" id="repair"><span class="glyphicon glyphicon-ok used" style="display: block;"></span></td>
            <td height="40" align="center" class="caozuo" ng-click="searchRoom()">查找</td>
            <td height="40" align="center" class="caozuo" ng-click="addRoom()">增加</td>
        </tr>
        <tr ng-repeat="x in roomInfo" class="roomList2 {{x.roomNum}}">
            <td height="40" align="center">{{x.roomNum}}</td>
            <td height="40" align="center">{{x.roomType}}</td>
            <td height="40" align="center">{{x.price}}元/天</td>
            <td height="40" align="center" class="roomstate">正常<input type="radio" name="{{x.roomNum}}" value="0" ng-checked="true">维修中<input
                    type="radio" name="{{x.roomNum}}" value="1" id="{{x.roomNum}}"></td>
            <td width="100" height="40" align="center" class="caozuo" ng-click="updateRoom(x.roomNum)">更新状态</td>
            <td width="100" height="40" align="center" class="caozuo" ng-click="delRoom(x.roomNum)">删除</td>
        </tr>

    </table>


</div>